.footer {
  background-color: #000000;
  padding-top: 17px;
  padding-bottom: 17px;
  
  &__text {
    color: #939393;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}