ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

h1, h2, h3, p {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  background-color: rgba(11, 11, 11, 0.5);
  background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), linear-gradient(180deg, rgba(0, 0, 0, 0) 77.08%, rgba(13, 13, 13, 0.19) 77.31%, rgba(14, 14, 14, 0.8) 100%), url(../img/hero-bcg-mobile.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 78px;
  padding-bottom: 112px;
}
@media screen and (min-width: 624px) {
  .header {
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), linear-gradient(180deg, rgba(0, 0, 0, 0) 77.08%, rgba(13, 13, 13, 0.19) 77.31%, rgba(14, 14, 14, 0.8) 100%), url(../img/hero-bcg-tablet.webp);
    padding-top: 40px;
    padding-bottom: 183px;
  }
}
@media screen and (min-width: 1080px) {
  .header {
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), linear-gradient(180deg, rgba(0, 0, 0, 0) 77.08%, rgba(13, 13, 13, 0.19) 77.31%, rgba(14, 14, 14, 0.8) 100%), url(../img/hero-bcg-desktop.webp);
    padding-bottom: 192px;
  }
}
.header__logo {
  width: 214px;
  height: 180px;
  border-radius: 214px;
  background: linear-gradient(136deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
  backdrop-filter: blur(15px);
  position: absolute;
  top: -90px;
  left: -107px;
}
@media screen and (min-width: 624px) {
  .header__logo {
    width: 359px;
    height: 302px;
    border-radius: 359px;
    top: -151px;
    left: -179.5px;
  }
}
@media screen and (min-width: 1080px) {
  .header__logo {
    width: 477px;
    height: 402px;
    border-radius: 425px;
    top: -201px;
    left: -238.5px;
  }
}
.header__logo__svg {
  fill: #FFFFFF;
  position: absolute;
  width: 59.6px;
  height: 29.67px;
  bottom: 36.49px;
  right: 24.35px;
}
@media screen and (min-width: 624px) {
  .header__logo__svg {
    width: 100px;
    height: 49.78px;
    bottom: 61.22px;
    right: 40px;
  }
}
@media screen and (min-width: 1080px) {
  .header__logo__svg {
    width: 136.28px;
    height: 67.85px;
    bottom: 93.15px;
    right: 62.72px;
  }
}
.header__title {
  width: 212px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  color: #DC56C5;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}
@media screen and (min-width: 624px) {
  .header__title {
    width: 353px;
    margin-bottom: 27px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1080px) {
  .header__title {
    width: 589px;
    margin-bottom: 52px;
    font-size: 50px;
  }
}
.header__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
@media screen and (min-width: 624px) {
  .header__form {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }
}
.header__field {
  width: 270px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__search {
  color: #939393;
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 196px;
}
.header__search__icon {
  width: 12px;
  height: 12px;
  fill: #939393;
}
.header__country {
  color: #939393;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 196px;
}
.header__arrow__icon {
  width: 12px;
  height: 12px;
  fill: #939393;
}

.main {
  background-color: black;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 39px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .event-container {
    -moz-column-gap: 27px;
         column-gap: 27px;
    row-gap: 58px;
  }
}
@media screen and (min-width: 1200px) {
  .event-container {
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 63px;
    top: -60px;
  }
}
.event-item {
  width: 128px;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.event-item:hover {
  transform: translateY(15px) scale(1.05);
}

@media screen and (min-width: 768px) {
  .event-item {
    width: 180px;
  }
}
.box {
  flex-basis: calc((100% - 39px) / 2);
}

@media screen and (min-width: 768px) {
  .box {
    flex-basis: calc((100% - 116px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .box {
    flex-basis: calc((100% - 189px) / 4);
  }
}
.event-img-decorate {
  position: relative;
  width: 128px;
}

@media screen and (min-width: 768px) {
  .event-img-decorate {
    width: 170px;
  }
}
.event-img-decorate::after {
  content: "";
  display: block;
  width: 108px;
  height: 101px;
  position: absolute;
  right: -10px;
  top: -9px;
  border-radius: 50px 0;
  border: 1px solid rgba(220, 86, 197, 0.3);
}

@media screen and (min-width: 768px) {
  .event-img-decorate::after {
    top: -13px;
    right: -14px;
    width: 153px;
    height: 143px;
  }
}
.event-img-box {
  border-radius: 50px 0;
  width: 100%;
  height: 161px;
  overflow: hidden;
  background-color: black;
}

@media screen and (min-width: 768px) {
  .event-img-box {
    height: 227px;
  }
}
.event-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.event-name {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #DC56C5;
  margin: 3px 0;
}

@media screen and (min-width: 768px) {
  .event-name {
    font-size: 16px;
  }
}
.event-date {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 3px;
}

@media screen and (min-width: 768px) {
  .event-date {
    font-size: 16px;
  }
}
.event-place-box {
  justify-content: center;
  display: flex;
  gap: 3px;
  align-items: baseline;
}

.event-place {
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .event-place {
    font-size: 14px;
  }
}
.event-empty {
  background-color: transparent;
  border: 2px solid #212121;
  border-radius: 100px 0;
  padding: 40px 15px;
  margin-top: 15%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .event-empty {
    border: none;
    margin-top: 10%;
  }
}
.event-empty-img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .event-empty-img {
    width: 185px;
  }
}
@media screen and (min-width: 1200px) {
  .event-empty-img {
    width: 235px;
  }
}
.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.page-btn {
  background-color: none;
}

.event-empty-text {
  color: #DC56C5;
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .event-empty-text {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .event-empty-text {
    font-size: 45px;
  }
}
.footer {
  background-color: #000000;
  padding-top: 17px;
  padding-bottom: 17px;
}
.footer__text {
  color: #939393;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 624px) {
  .footer__text {
    font-size: 16px;
  }
}

.modal {
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms;
  border-radius: 300px 0;
  background: #fff2fd;
  width: 930px;
  height: 930px;
  padding: 30px;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .modal {
    width: 595px;
    height: 831px;
    padding: 50px;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .modal {
    width: 595px;
    height: 831px;
    border-radius: 40px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 56px;
    padding-left: 50px;
    width: 350px;
    height: 915px;
    padding: 50px;
    border-radius: 150px 0;
    background: #fff2fd;
  }
}
.modal__btnn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.modal__picture {
  width: 132px;
  height: 132px;
  display: block;
  border-radius: 100%;
  margin-bottom: 41px;
}
.modal__box {
  width: 870px;
  display: flex;
  gap: 60px;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .modal__box {
    margin-top: 50px;
    width: 233px;
    height: 416px;
  }
}
.modal__pctr {
  display: block;
  width: 360px;
  height: 641px;
}
.modal__list {
  width: 450px;
  height: 641px;
  text-align: left;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.modal__item {
  color: #0e0e0e;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.modal__title {
  color: #DC56C5;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 7px;
  margin-top: 0;
}
.modal__text {
  color: #0E0E0E;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.modal__smallpicture {
  width: 29px;
  margin-right: 13px;
}
.modal__btn {
  border-radius: 5px;
  background: #4c00fe;
  width: 145px;
  height: 40px;
  color: #fff;
  margin-bottom: 31px;
  border: none;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.modal__button {
  color: #4C00FE;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #4C00FE;
  background-color: transparent;
  width: 255px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(1.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop.is-hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */