<header class="header">
  <div class="container">
    <div class="header__logo__bg">
      <svg class="header__logo">
        <use class="header__use"></use>
      </svg>
    </div>
    <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
    <form class="header__form">
      <input type="text" class="header__search" name="search" id="search" placeholder="Start searching">
      <input type="text" class="header__country" name="country" id="country" placeholder="Choose country">
    </form>
  </div>
</header>