<div class="container">
  <div class="backdrop is-hidden" data-modal-events>
    <div class="modal">


      <button type="button" class="modal__btnn" data-modal-events-close>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none" class="modal__icon">
          <path d="M18 6L6 18" stroke="#4C00FE" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M6 6L18 18" stroke="#4C00FE" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>


      <img src="/src/img/modal-imgs/blackeyedpeassmall.png" alt="concert" class="modal__picture">


      <div class="modal__box">


        <img src="/src/img/modal-imgs/blackeyedpeasbig.png" alt="concert" class="modal__pctr">


        <ul class="modal__list">


          <li class="modal__item">
            <h2 class="modal__title">INFO</h2>
            <p class="modal__text">Atlas Weekend is the largest music festival
              in Ukraine. More than 200 artists will create
              a proper music festival atmosphere on 10 stages</p>
          </li>


          <li class="modal__item">
            <h2 class="modal__title">WHEN</h2>
            <p class="modal__text">2021-06-09<br>20:00 (Kyiv/Ukraine)</p>
          </li>


          <li class="modal__item">
            <h2 class="modal__title">WHERE</h2>
            <p class="modal__text">Kyiv, Ukraine<br>VDNH</p>
          </li>


          <li class="modal__item">
            <h2 class="modal__title">WHO</h2>
            <p class="modal__text">The Black Eyed Peas</p>
          </li>


          <li class="modal__item">
            <h2 class="modal__title">PRICES</h2>


            <div class="modal__divprice">
              <img src="/src/img/modal-imgs/ticketicon.png" alt="ticket icon" class="modal__smallpicture">
              <p class="modal__text">Standart 300-500 UAH</p>
            </div>


            <button type="button" class="modal__btn">BUY TICKETS</button>


            <div class="modal__divprice">
              <img src="/src/img/modal-imgs/qrcode.png" alt="ticket icon" class="modal__smallpicture">
              <p class="modal__text">VIP 1000-1500 UAH</p>
            </div>


            <button type="button" class="modal__btn">BUY TICKETS</button>


          </li>
        </ul>


      </div>


      <button type="button" class="modal__button">MORE FROM THIS AUTHOR</button>


    </div>
  </div>
</div>
