<div class="container">
  <div class="backdrop is-hidden" data-modal-events>
    <div class="modal">
      <button type="button" class="modal__btnn" data-modal-events-close>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"
          class="modal__icon">
          <path d="M18 6L6 18" stroke="#4C00FE" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M6 6L18 18" stroke="#4C00FE" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <img src="" alt="concert" class="modal__picture">
      <div class="modal__box">
        <img src="" alt="concert" class="modal__pctr">
        <ul class="modal__list">
          <li class="modal__item">
            <h2 class="modal__title">INFO</h2>
            <p class="modal__text" id="info"></p>
          </li>
          <li class="modal__item">
            <h2 class="modal__title">WHEN</h2>
            <p class="modal__text" id="date"></p><br>
            <p class="modal__text" id="time"></p>
          </li>
          <li class="modal__item">
            <h2 class="modal__title">WHERE</h2>
            <p class="modal__text" id="city"></p><br>
            <p class="modal__text" id="place"></p>
          </li>
          <li class="modal__item">
            <h2 class="modal__title">WHO</h2>
            <p class="modal__text" id="name"></p>
          </li>
          <li class="modal__item">
            <h2 class="modal__title">PRICES</h2>
            <div class="modal__divprice">
              <img src="./img/qrcode.png" alt="ticket icon" class="modal__smallpicture">
              <p class="modal__text" id="price"></p>
            </div>
            <a class="modal__btn" href="" target="_blank">BUY TICKETS</a>
          </li>
        </ul>
      </div>
      <button type="button" class="modal__button">MORE FROM THIS AUTHOR</button>
    </div>
  </div>
</div>