<div class="container">
<div class="backdrop is-hidden" data-modal-events>
      <div class="modal">
        <button type="button" class="modal__btnn" data-modal-events-close>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="modal__icon">
  <path d="M23.7147 25C23.3854 25 23.0564 24.8747 22.8059 24.6227L0.376724 2.19593C-0.125574 1.69333 -0.125574 0.878999 0.376724 0.376714C0.879022 -0.125571 1.69337 -0.125571 2.19598 0.376714L24.6233 22.8038C25.1256 23.306 25.1256 24.1204 24.6233 24.6227C24.3712 24.8732 24.0422 25 23.7147 25Z" fill="#4C00FE" />
</svg>

        </button>

        <picture class="modal__picture">
          <source srcset=" 1x,  2x" media="(min-width: 1200px)">
          <source srcset=" 1x,  2x" media="(min-width: 768px)">
          <source srcset=" 1x,  2x" media="(max-width: 767px)">
        <img src="" alt="concert" class="modal__img">
      </picture>
<div class="modal__box">
      <picture class="modal__pctr">
          <source srcset=" 1x,  2x" media="(min-width: 1200px)">
          <source srcset=" 1x,  2x" media="(min-width: 768px)">
          <source srcset=" 1x,  2x" media="(max-width: 767px)">
        <img src="" alt="concert" class="modal__image">
      </picture>

      <ul class="modal__list">
        <li class="modal__item">
        <h2 class="modal__title">INFO</h2>
        <p class="modal__text">Atlas Weekend is the largest music festival
in Ukraine.More than 200 artists will create
a proper music festival atmosphere on 10 stages</p>
        </li>
        <li class="modal__item">
        <h2 class="modal__title">WHEN</h2>
        <p class="modal__text">2021-06-09<br>20:00 (Kyiv/Ukraine)</p>
        </li>
        <li class="modal__item">
        <h2 class="modal__title">WHERE</h2>
        <p class="modal__text">Kyiv, Ukraine<br>VDNH</p>
        </li>
        <li class="modal__item">
        <h2 class="modal__title">WHO</h2>
        <p class="modal__text">The Black Eyed Peas</p>
        </li>
        <li class="modal__item">
        <h2 class="modal__title">PRICES</h2>
        <div class="modal__divprice">
        <picture class="modal__smallpicture">
          <source srcset=" 1x,  2x" media="(min-width: 1200px)">
          <source srcset=" 1x,  2x" media="(min-width: 768px)">
          <source srcset=" 1x,  2x" media="(max-width: 767px)">
        <img src="" alt="concert" class="modal__img">
        <p class="modal__text">Standart 300-500 UAH</p>
        </div>
        <div class="modal__divprice">
        <button type="button" class="modal__btn">BUY TICKETS</button>
        <picture class="modal__smallpicture">
          <source srcset=" 1x,  2x" media="(min-width: 1200px)">
          <source srcset=" 1x,  2x" media="(min-width: 768px)">
          <source srcset=" 1x,  2x" media="(max-width: 767px)">
        <img src="" alt="concert" class="modal__img">
        <p class="modal__text">VIP 1000-1500 UAH</p>
        </div>
        <button type="button" class="modal__btn">BUY TICKETS</button>
        </li>
    </ul>


    <button type="button" class="modal__button">MORE FROM THIS AUTHOR</button>
      </div>
    </div>
  </div>
</div>